h1{
  text-align: center;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bolder;
  color: aqua; 
  
}
*{
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.container{
  margin: auto;
  width: 25%;
  padding: 10px;
  border: 1px solid #fffd69;
  border-width: 2px;
  box-shadow: #fffd69;
  box-sizing: content-box;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
     -moz-box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
          box-shadow: 1px 1px 4px 0px rgba(176,176,176,1);
  background-color: #fff;
  height: 460px;
  background-color: #000000;
}
.header{
  background-color: #ff9b04;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
}
.result{
  font-size: 24px;
  padding: 24px 5px;
  font-weight: 700;
  text-align: right;
  width: 96%;
  border: none;
  background-color: #111111;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  height: 50px;
}
.first-row,
.second-row,
.third-row,
.fourth-row,
.conflict
{
  display: inline-block;
  width: 100%;
  
}
.global{
 padding: 15px;
 font-weight: bold;
 font-size: 16px;
 border-radius: 30px;
 background-color: #646464;
 float: left;
 width: 23.5%;
 margin: 0 2px;
 border: none;
 color: white;
 /*border: 1px solid #000;*/
}
.conflict .left,
.conflict .right{
  float: left;
  position: relative;
}
.left{
  width: 74%;
}
.right{
  width: 24%;
}
.big{
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: #646464;
  float: left;
  width: 64.5%;
  margin: 0 2px;
  color: white;
}
.small{
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: #646464;
  float: left;
  width: 31.5%;
  margin: 0 2px;
  color: white;
}
.plus{
  height: 100px;
  width: 100%;
}
.green{
  background-color: #646464;
}
.red{
  background-color: #646464;
  border-color: red;
  
}
.grey{
  background-color: #646464;
}
.white-text{
  color: #fff;
}
.top-margin{
  margin-top: 4px;
}